@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  min-width: $navigation_width;
  height: 100vh;
  padding: 32px 0px 40px 32px;
  box-sizing: border-box;
  background-color: $secondary-background-color;
  flex: 1 $navigation_width;
  border-right: 1px solid #E7E7E7;
}

.navigation {
  padding-top: 24px;
}
