.text {
  display: flex;
  align-items: center;

  svg {
    padding-right: 8px;
  }
}

.extraLarge {
  font-size: 40px;
}
.large {
  font-size: 32px;
}
.medium {
  font-size: 24px;
}
.small {
  font-size: 16px;
}
.extraSmall {
  font-size: 14px;
}
