@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.menuItem {
  display: flex;
  align-items: center;
  color: $gray-color;
  cursor: pointer;

  margin-bottom: 24px;

  &:hover {
    color: $brand-blue-color;

    svg path {
      stroke: $brand-blue-color;
    }
  }

  svg{
    margin-right: 8px;
  }
}

.open {
  display: flex;
  flex-direction: column;
  align-items: start;
}
