@import "./colors.scss";
@import "./mixins.scss";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Semibold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}

body {
  background-color: var(--secondary-background-color);
  font-family: "Regular";
  margin: 0;
  font-size: 16px;

}

* {
  transition: background .5s, color .5s;
}

:root {
  --primary-background-color: #f5f8f9;
  --secondary-background-color: #ffffff;

  --white-color: #fff;
  --light-gray-color: #f5f8f9;
  --secondary-gray-color: #d9d9d9;
  --gray-color: #5C5C5C;
  --brand-red-color: #ff2525;
  --brand-blue-color: #1e51a4;
  --main-color: #000000;
  --sucess-color: #0da600;
  --warning-color: #ed0b0b;
  --button-color: #2482fe;
  --button-hover-color: #1e71de;

  --yellow-color: #ffe074;
  --primary-gray: #f5f5f5;
  --icon-color: #fff;

  --input-disabled-bg: rgba(136, 136, 136, 0.25);
  --input-color-text: #000000;
  --shadow-base: rgba(0, 0, 0, 0.2);
}

:root[data-theme="dark"] {
   --primary-background-color: #252525;
   --secondary-background-color: #000000;

   --white-color: #000000;
   --light-gray-color: #11121e;
   --secondary-gray-color: #656565;
   --gray-color: #9f9f9f;
   --brand-red-color: #ff2525;
   --brand-blue-color: #1e51a4;
   --main-color: #ffffff;
   --success-color: #0da600;
   --warning-color: #ed0b0b;
   --button-color: #2482fe;
   --button-hover-color: #1e71de;

   --yellow-color: #ffe074;
   --primary-gray: #3d3d3d;
   --icon-color: #fff;

  --input-disabled-bg: #9f9f9f;
  --input-color-text: #000000;
  --shadow-base: rgba(256, 256, 256, 0.3);
}


p {
  @include paragraph-2;
  margin: 0;
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.275em;
}

h1 {
  @include heading-1;
  color: var(--main-color);
}

h2 {
  @include heading-2;
  color: var(--main-color);
}

h3 {
  @include heading-3;
  color: var(--main-color);
}

h4 {
  @include heading-4;
  color: var(--main-color);
}

h5 {
  @include heading-5;
}

input:disabled {
  background-color: var(--input-disabled-bg);
  color: var(--input-color-text);
}

// slick library

.slick-slider {
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    color: var(--gray-color);
  }

  .slick-prev:before {
    content: url("../public/icons/slick-left-icon.svg");
  }

  .slick-next:before {
    content: url("../public/icons/slick-right-icon.svg");
  }

  .slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .slick-prev,
  .slick-next {
    bottom: 10px;
    height: 100%;
  }

  .slick-prev {
    left: -42px;
  }
  .slick-next {
    right: -22px;
  }

  .slick-dots li {
    width: 6px;
  }
  .slick-dots li.slick-active button:before {
    color: var(--secondary-gray-color);
  }
  .slick-dots li button:before {
    color: var(--secondary-gray-color);
    opacity: 0.25;
  }

  .slick-dots {
    bottom: 0;
  }
}

a {
  text-decoration: none;
}


